<h1>New Feature</h1>

<% form_for(@feature) do |f| %>

  <p>
    <%= f.label :title, "Feature-Title" %><br />
    <%= f.text_field :title, :id => "feature-title"%>
  </p>
  <% fields_for :scenario do |fc| %>
    <p>
      <%= fc.label :title, "Scenario-Title" %><br />
      <%= fc.text_field :title, :id => "scenario-title"%>
    </p>
    <p>
      <%= fc.label :given_block, "Given-Block" %><br />
      <%= fc.text_field :given_block, :id => "given-block"%>
    </p>
    <p>
      <%= fc.label :when_block, "When-Block" %><br />
      <%= fc.text_field :when_block, :id => "when-block"%>
    </p>
    <p>
      <%= fc.label :then_block, "Then-Block" %><br />
      <%= fc.text_field :then_block, :id => "then-block"%>
    </p>
  <% end %>

  <p>
    <%= f.submit "submit" %>
  </p>
<% end %>
<%= link_to 'Back', features_path %>